<a href="https://colab.research.google.com/github/hanhan0220/Introduction-to-Computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("test")

test

In [ ]:
sum=0
test=int(input('請輸入一個正整數:'))
for n in range(1,test+1):
  sum=sum+n
print("1到",test,"的整數合為",sum)

請輸入一個正整數:50
1到 50 的整數合為 1275

In [ ]:
sum=0
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1):
  sum=sum+n
  print("1到",str(m)+"的整數合為",sum)

請輸入一個正整數:50
1到 1的整數合為 50
1到 2的整數合為 100
1到 3的整數合為 150
1到 4的整數合為 200
1到 5的整數合為 250
1到 6的整數合為 300
1到 7的整數合為 350
1到 8的整數合為 400
1到 9的整數合為 450
1到 10的整數合為 500
1到 11的整數合為 550
1到 12的整數合為 600
1到 13的整數合為 650
1到 14的整數合為 700
1到 15的整數合為 750
1到 16的整數合為 800
1到 17的整數合為 850
1到 18的整數合為 900
1到 19的整數合為 950
1到 20的整數合為 1000
1到 21的整數合為 1050
1到 22的整數合為 1100
1到 23的整數合為 1150
1到 24的整數合為 1200
1到 25的整數合為 1250
1到 26的整數合為 1300
1到 27的整數合為 1350
1到 28的整數合為 1400
1到 29的整數合為 1450
1到 30的整數合為 1500
1到 31的整數合為 1550
1到 32的整數合為 1600
1到 33的整數合為 1650
1到 34的整數合為 1700
1到 35的整數合為 1750
1到 36的整數合為 1800
1到 37的整數合為 1850
1到 38的整數合為 1900
1到 39的整數合為 1950
1到 40的整數合為 2000
1到 41的整數合為 2050
1到 42的整數合為 2100
1到 43的整數合為 2150
1到 44的整數合為 2200
1到 45的整數合為 2250
1到 46的整數合為 2300
1到 47的整數合為 2350
1到 48的整數合為 2400
1到 49的整數合為 2450
1到 50的整數合為 2500

In [ ]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [ ]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [ ]:
for i in range(1,5):
  if(i==3):
    break
  print(i,end=" ")

1 2

In [ ]:
count=0
for string in 'hello!':
   count+=1
   if string =='o':
     break
   print(string)
print("迴圈結束")
print("迴圈執行了%d次"%count)

h
e
l
l
迴圈結束
迴圈執行了5次

In [1]:
count = 0
for string in '測試看看!':
  count+=1
  if string == '看':
    break
  print(string)
print('迴圈結束')
print('迴圈進行了 %d 次' %count)

測
試
迴圈結束
迴圈進行了 3 次

In [2]:
for i in range(2, 10):
  for j in range(1, 10):
    k = i * j
    print("%d*%d= %2d " %(i,j,k), end="")
  print()

2*1=  2 2*2=  4 2*3=  6 2*4=  8 2*5= 10 2*6= 12 2*7= 14 2*8= 16 2*9= 18
3*1=  3 3*2=  6 3*3=  9 3*4= 12 3*5= 15 3*6= 18 3*7= 21 3*8= 24 3*9= 27
4*1=  4 4*2=  8 4*3= 12 4*4= 16 4*5= 20 4*6= 24 4*7= 28 4*8= 32 4*9= 36
5*1=  5 5*2= 10 5*3= 15 5*4= 20 5*5= 25 5*6= 30 5*7= 35 5*8= 40 5*9= 45
6*1=  6 6*2= 12 6*3= 18 6*4= 24 6*5= 30 6*6= 36 6*7= 42 6*8= 48 6*9= 54
7*1=  7 7*2= 14 7*3= 21 7*4= 28 7*5= 35 7*6= 42 7*7= 49 7*8= 56 7*9= 63
8*1=  8 8*2= 16 8*3= 24 8*4= 32 8*5= 40 8*6= 48 8*7= 56 8*8= 64 8*9= 72
9*1=  9 9*2= 18 9*3= 27 9*4= 36 9*5= 45 9*6= 54 9*7= 63 9*8= 72 9*9= 81

In [3]:
x = int(input("請輸入 a 的值:"))
y = int(input("請輸入 b 的值:"))
if x > y :
    c = x
else:
    c = y
m = (x + 1) * (y + 1)
for k in range(c, m):
    if k % x == 0 and k % y == 0:
        print(x,'和',y,'的最小公倍數=',k)
        break

請輸入 a 的值:4
請輸入 b 的值:6
4 和 6 的最小公倍數= 12

In [4]:
x = int(input("請輸入 a 的值:"))
y = int(input("請輸入 b 的值:"))
if x > y :
    c = x
else:
    c = y
m = (x + 1) * (y + 1)
for k in range(c, m):
    if k % x == 0 and k % y == 0:
        print(x,'和',y,'的最小公倍數=',k)
        break

請輸入 a 的值:9
請輸入 b 的值:15
9 和 15 的最小公倍數= 45

In [5]:
n = int(input('請輸入正整數:'))
for i in range(1,n+1):
  if i % 5 == 0:
    continue
  print(i,'',end='')

請輸入正整數:12
1 2 3 4 6 7 8 9 11 12

In [6]:
n = int(input('請輸入正整數:'))
for i in range(1,n+1):
  if i % 5 == 0:
    continue
  print(i,'',end='')

請輸入正整數:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21